doctype html
html
	head
		title Page Not Found
		link(rel="stylesheet", href="/core.#{vTag}.css")
		link(rel="shortcut icon", href="/favicon.#{vTag}.ico")
		meta(
			name="viewport",
			content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")

	body
		#_NAV
			h1 Page Not Found
		#_CONTENT
			p RadEdit Manager cannot find the page you&apos;re looking for.

		script(src="/core.#{vTag}.js")
