doctype html
html
	head
		title Code
		link(rel="stylesheet", href="/radedit.#{vTag}.css")
		link(rel="shortcut icon", href="/favicon.#{vTag}.ico")
		meta(
			name="viewport",
			content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
		
	body
		#_NAV
		#_CONTENT
			#_MENU._AREA
				div
					label
						input#_AUTO_SAVE(type="checkbox")
						span Auto save <i>(when syntax passes)</i>
				div
					label
						input#_FULL_SOURCE(type="checkbox")
						span Full source mode <i>(disables minification)</i>
			#_TREE._AREA
			#_CONSOLE._AREA
			#_SEARCH_RESULTS._HIDDEN
		#_LOADING: span Loading...
		if file
			script var file=!{file}
		script(src="/radedit.#{vTag}.js")
